#containerLogo {
    height: 10em;
    position: relative }
#containerLogo p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

#containerIcon {
    height: 10em;
    position: relative }
#containerIcon p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

